<input (keyup)="changeImage($event)" [value]="imgUrl">

<!-- via imgSelected we listen for an event witch happens at the child component in this case post.component
     when that happens it will trigger the finc logImg() the data emmited from the child will be stored in the event
    and then we can pass it to the component.ts file this is how comunication from child to parent happens
in Angular -->
<app-post [img]="imgUrl" (imgSelected)="logImg($event)">
    <p>Some caption</p>
</app-post>

<p>Hello {{name.toUpperCase() }}</p>
<p>Hello {{getName() }}!</p>
<p>{{15+13 +22}}</p>